{
  "openapi": "3.0.0",
  "info": {
    "title": "Aave Protocol API",
    "description": "This is the Aave protocol API",
    "contact": {
      "email": "wecare@aave.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://aave-api-v2.aave.com",
      "description": "Aave Api URL"
    }
  ],
  "tags": [
    {
      "name": "data",
      "description": "Get Aave protocol data"
    },
    {
      "name": "addresses",
      "description": "Get Aave protocol addresses"
    }
  ],
  "paths": {
    "/addresses/status/{address}": {
      "get": {
        "tags": ["addresses"],
        "summary": "Gets if one address is allowed to use the Aave arc market",
        "description": "Returns if an address is allowed to use the Aave arc, and which functionalities can the address use.\nDepositor -> 0\nBorrower -> 1\nLiquidator -> 2\n",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Valid Ethereum address",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "0x24a42fd28c976a61df5d00d0599c34c4f90748c8"
          }
        ],
        "responses": {
          "200": {
            "description": "Functionalities permitted for the address on the Aave arc market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "204": {
            "description": "Indicates that the Data Base is not synchronised. Please contact the Aave team.\n"
          },
          "400": {
            "description": "URI parameter is not a valid eth address\n"
          },
          "500": {
            "description": "Something failed in the Service. Please contact the Aave team !\n"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "inline_response_200_5": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "number",
              "example": 1
            }
          }
        }
      }
    }
  }
}
